*{
margin:0;
padding:0;
box-sizing:border-box;
}

html{
scroll-behavior:smooth;
}

body{
font-family:Poppins,sans-serif;
background:#0d0d0d;
color:white;
}

.hero{
height:100vh;
position:relative;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
background:
linear-gradient(
135deg,
#000000,
#1a1a1a,
#2b2b2b
);
overflow:hidden;
}

.overlay{
position:absolute;
width:100%;
height:100%;
background:
radial-gradient(circle,#d4af3710,#000000);
}

.content{
z-index:2;
padding:20px;
animation:fadeIn 2s ease;
}

.arabic{
font-size:60px;
color:#d4af37;
margin-bottom:20px;
}

h1{
font-family:Cinzel;
font-size:3rem;
color:#d4af37;
}

.heart{
font-size:30px;
margin:15px 0;
}

.guest-title{
font-size:18px;
opacity:0.8;
}

#guestName{
margin-bottom:30px;
color:white;
}

.invite{
max-width:600px;
margin:20px auto;
line-height:1.8;
}

.btn{
display:inline-block;
padding:15px 35px;
background:#d4af37;
color:black;
text-decoration:none;
border-radius:50px;
font-weight:bold;
margin-top:20px;
}

.countdown-section{
padding:80px 20px;
text-align:center;
}

#countdown{
font-size:2rem;
color:#d4af37;
margin-top:20px;
}

#details,
.parents{
padding:80px 20px;
text-align:center;
}

.card{
max-width:700px;
margin:auto;
background:#1b1b1b;
padding:40px;
border-radius:20px;
border:1px solid #d4af37;
}

.card p{
margin:20px 0;
line-height:1.8;
}

.map-btn{
display:inline-block;
margin-top:25px;
padding:15px 30px;
background:#d4af37;
color:black;
text-decoration:none;
border-radius:50px;
font-weight:bold;
}

footer{
padding:40px;
text-align:center;
opacity:0.8;
}

@keyframes fadeIn{
from{
opacity:0;
transform:translateY(40px);
}
to{
opacity:1;
transform:translateY(0);
}
}

@media(max-width:768px){

h1{
font-size:2rem;
}

.arabic{
font-size:40px;
}

#countdown{
font-size:1.4rem;
}

}
